html,
body {
  
  margin: 0;
  padding: 0;
    background-color: white;
}
body {
font-size: 21px;
font-family:"PT Sans", Arial, serif;
font-weight: bold;
color: black;
line-height: 26px;
    text-transform: uppercase;
}
.container {
    min-width: 768px;
    max-width: 1200px;
    margin:0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-navigation {   
    background: url(../img/background_main.jpg) no-repeat;
    background-size: 100%;
   height: 512px; 
    
}
/*у меня основная картинка фона оказывается шире, чем те, котрые лежат ниже. Почему?*/
.main-navigation ul{
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
    text-align: center;
    line-height: 12px;
}
.main-navigation li:nth-child(1), .main-navigation li:nth-child(2){
    float: left;
    width: 20%;    
   }
.main-navigation li:nth-child(3){
    float: left;
}
.main-navigation li:nth-child(4), .main-navigation li:nth-child(5) {
    float: right;
    width: 20%;    
   }

 .logo{
    position: absolute;    
    top: -21px;
    left: 50%; 
    margin-left: -70px;
    width: 140px;
    height: 70px;
}


.main-navigation a {
   display: block;
   padding: 21px 0px;
   font-size: 14px;
   color:#000000; 
   text-decoration: none;
  }

.content {
    margin-top: 60px;
    margin-bottom: 35px;
}
.slogan {   
    text-align: center; 
    margin-bottom: 35px;
    font-size: 21px;
}
.title {
   margin-right: auto;
   margin-left: auto;
   text-align: center;
   font-size: 14px;
}
.illustrated-left {
   background-color: #81b3d2;
   text-align: center; 
   
}
.illustrated-left h3{
   padding-top: 56px;
    
}
.illustrated-left{
    
    box-sizing:border-box;
    max-width:800px;
    min-width:600px;
    background-color: #81b3d2; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-right: 66%; 
    background-image: url(../img/flowers.jpg); 
    background-position: right center; 
    background-repeat: no-repeat; 
    background-size:66% auto;}
}


.icon-description{
    background-color: white;
    list-style: none;
   clear:both;
}
.icon {
   float:left;
  text-align:center
   padding-top: 163px;
   width: 33,3333%;
   color: black;
 
}
.icon:last-child{
    margin-right: 0;    
}
.accommodation {
    background-color :#ffffff;
    background-image: url(../img/accomodation.png);
    background-repeat: no-repeat;
    background-position: center 62px;
    background-size: 72px 75px;
   }
.food {
    background-color: #ffffff;
    background-image: url(../img/food.png);
    background-repeat: no-repeat;
    background-position: center 62px;
    background-size: 75px 74px;    
}
.souvenirs {
    background-color: #ffffff;
    background-image: url(../img/souvenirs.png);
    background-repeat: no-repeat;
    background-position: center 62px; /* у меня почему-то картинка вставляется как будто меньшим размером и из-за этого соотношение всех отступов другое*/
    background-size: 64px 76px;    
}
.reason {
    float:left;
    min-height: 255px;
    width: 33.33333%;
    background-color:#eeeeee;
    list-style: none;
    text-align: center;
}

.reason:last-child{
    margin-right: 0;
}
.reason p {
    font-size: 14px;
}
.reasons {
    counter-reset:reason-number;
}
.reasons>li {
    counter-increment: reason-number; 
}

.reasons>li p::before {
	content: counter(reason-number); 

	font-style:italic;
	color:red
} /*как убрать отображение номеров у жилья еды и сувениров?*/
.reasons .icon::before {
	content: ""; 

} /*не получается убрать отображение номеров у жилья еды и сувениров?*/


.reasons{
    padding: 0;
}

.illustrated-right {
    background-color: #81b3d2;
    text-align: center; 
    list-style: none;
    
}
.illustrated-right h3{
    padding-top: 50px;
}
.illustrated-right img{
    float: left;
    width: 67%;    
    background-color: #81b3d2;
}


.interest {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
    margin-bottom: 35px;
    }

.illustrated {
    line-height: 21px;
    color: white;
}
.illustrated p{
    font-size: 14px;
}
.icon h3{
    line-height: 21px;
    }
.icon p {
   line-height: 21px;
    font-size: 14px;
}
.interest h2{
    font-size: 30px;
    line-height: 24px;
}
.interest p{
    font-size: 14px;
    line-height: 24px;
}
.booking {
    position: absolute;
    left: 50%;
   top: 2084px;
    margin-left: -284px;
    width: 568px;
    background-color: white;
    font-size: 14px;
}

.booking h3{
    color: white;
    background-color: #766357;
    padding: 35px 135px;
    font-size: 21px;
}
.booking-form input{ /*все куда-то поехало всё равно*/
   width: 345px;
    margin-bottom: 32px;
    margin-left: 56px;
    margin-right: 56px;
    padding: 16px;
    background-color: #f2f2f2;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
}
.booking-form input:nth-child(3), .booking-form input:nth-child(4){
width: 115px;
}
.booking-form .btn{
    clear:both;
    width: 450px;
    padding:  17px 195px;
    margin-bottom: 55px;
    font-size: 21px;
    background-color: #81b3d2;
}
/*.hotel-description {  
    float: left;
   
    padding-left: 70px;
    padding-top: 30px;
   
    background-color: dodgerblue; 
}
.hotel-description legend{  
    float: left;
   width: 100%;
    
}
.triangle, .sorting {
    width: 85px; 
    background-color: green;
}
.hotel {
    width: 85px; 
    background-color: mistyrose;
}*/
.main-footer {
   margin-top: 50px;
    background-color: chartreuse;
}
.footer-section {
    float: left;
    width: 33.33333%;
    text-align: center;
}



