html,
body {
  
  margin: 0;
  padding: 0;
    background-color: white;
}
body {
font-size: 21px;
font-family:"PT Sans", Arial, serif;
font-weight: bold;
color: black;
line-height: 26px;
    text-transform: uppercase;
}
ul, ol, li {
    margin:0; 
    padding:0;
    list-style-type: none;
}
.container {
    min-width: 768px;
    max-width: 1200px;
    margin:0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main {   
    background: url(../img/background_main.jpg) no-repeat;
    background-size: 100%;
   height: 512px; 
    
}
.main-navigation ul{
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
    text-align: center;
    line-height: 12px;
}
.main-navigation li:nth-child(1), .main-navigation li:nth-child(2){
    float: left;
    width: 20%;    
   }
.main-navigation li:nth-child(3){
    float: left;
}
.main-navigation li:nth-child(4), .main-navigation li:nth-child(5) {
    float: right;
    width: 20%;    
   }

 .logo{
    position: absolute;    
    top: -21px;
    left: 50%; 
    margin-left: -70px;
    width: 140px;
    height: 70px;
}


.main-navigation a {
   display: block;
   padding: 21px 0px;
   font-size: 14px;
   color:#000000; 
   text-decoration: none;
  }

.content {
    margin-top: 60px;
    margin-bottom: 35px;
}
.slogan {   
    text-align: center; 
    margin-bottom: 35px;
    font-size: 21px;
}
.title {
   margin-right: auto;
   margin-left: auto;
   text-align: center;
   font-size: 14px;
}
.illustrated-left {
   background-color: #81b3d2;
   text-align: center; 
   
}
.illustrated-left h3{
   padding-top: 56px;
    
}
.illustrated-left p{
   padding-right: 554px;
    
}
.illustrated-left{
    
    box-sizing:border-box;
    
    background-color: #81b3d2; 
    padding-top: 20px; 
    padding-bottom: 20px; 
   
    background-image: url(../img/flowers.jpg); 
    background-position: right center; 
    background-repeat: no-repeat; 
    background-size:66% auto;
}
/*Саша, картинка все равно не вставляется как надо. И всё поехало*/

.icon-description{
    background-color: white;
    list-style: none;
   clear:both;
}
.icon {
   float:left;
  text-align:center;
   padding-top: 163px;
   width: 33.3333%;
   color: black;
 
}
.icon:last-child{
    margin-right: 0;    
}
.accommodation {
    background-color :#ffffff;
    background-image: url(../img/accomodation.png);
    background-repeat: no-repeat;
    background-position: center 62px;
   
   }
.food {
    background-color: #ffffff;
    background-image: url(../img/food.png);
    background-repeat: no-repeat;
    background-position: center 62px;
      
}
.souvenirs {
    background-color: #ffffff;
    background-image: url(../img/souvenirs.png);
    background-repeat: no-repeat;
    background-position: center 62px; 
     
}
.reason {
    float:left;
    min-height: 255px;
    width: 33.33333%;
    background-color:#eeeeee;
    list-style: none;
    text-align: center;
}

.reason:last-child{
    margin-right: 0;
}
.reason p {
    font-size: 14px;
}
.reasons {
    counter-reset:reason-number;
}
.reasons>li {
    counter-increment: reason-number; 
}

.reasons>li p::before {
	content: counter(reason-number); 

	font-style:italic;
	color:red
} 
.reasons .icon p::before {
	content: ""; 

} 


.reasons{
    padding: 0;
}
/*illustrated right я поменяю, когда разберусь с illustrated left*/
.illustrated-right {
    background-color: #81b3d2;
    text-align: center; 
    list-style: none;
    
}
.illustrated-right h3{
    padding-top: 50px;
}
.illustrated-right img{
    float: left;
    width: 67%;    
    background-color: #81b3d2;
}




.illustrated {
    line-height: 21px;
    color: white;
}
.illustrated p{
    font-size: 14px;
}
.icon h3{
    line-height: 21px;
    }
.icon p {
    line-height: 21px;
    font-size: 14px;
}
.interest {
    position: relative;

    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
    margin-bottom: 35px;
    }
.interest h2{
    font-size: 30px;
    line-height: 24px;
}
.interest p{
    font-size: 14px;
    line-height: 24px;
}
.booking {
    position: absolute;
    left: 50%;
    top: 350px;
   margin: 0;
    margin-left: -284px;
    width: 568px;
    background-color: white;
    font-size: 14px;
    padding: 0;
}

.booking h3{
    color: white;
    background-color: #766357;
   padding: 35px 140px;
    font-size: 21px;
    margin:0;
}

.booking-form input{ 
    width: 345px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 55px;
    padding: 14px 16px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-family:"PT Sans", Arial, serif;
    border: none;
    box-sizing: border-box;
    text-transform: uppercase;
    float: right; 
   clear: right;
   
}
/*тут теперь вообще перестала меняться ширина. Последние два инпута должны лежать на одной строке, у меня не получается последний инпут передвинуть на одну строку с предыдущим*/
 .booking-form input:nth-child(3), .booking-form input:nth-child(4){ 
    
     width: 115px;
     
} 
.booking-form input:nth-child(4){
    margin-left: 0;
}
.booking-form .btn{
    clear:both;
    width: 450px;
    padding:  17px 195px;
    margin-bottom: 55px;
    font-size: 21px;
    background-color: #81b3d2;
    border: none;
}
.booking-form label{
    display: block;
    line-height: 75px;
    margin-left: 55px;
    
}
.hotel-choice{
    background-color: #ffffff;
    background-image: url(../img/inner%20background.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    color: white;
    
}
.hotel-description {  
    float: left;
   
    padding-left: 70px;
    padding-top: 30px;
   border: none;
    font-size: 16px;
    
}
.hotel-description legend{  
    float: left;
   width: 100%;
    font-weight: bold;
    
}

.triangle {
    width: 85px; 
    background-color: green;
}

.hotel {
    width: 85px; 
    background-color: mistyrose;
}
.sorting {
    background-color: white;
    width: 100%;
    margin-left: 45px;
} 45+120+35+80+12+35
.sorting-results {
    float: left;
    width: 120px;
    margin-top: 35px;
    margin-right: 35px;
}
/*как правильно подобрать размеры в сортировке sorting?*/
.sorting-type {
    float: left;
    width: 80px;
    margin-left: 12px;
    margin-right: 35px;
}
.sorting-items ul{
    margin: 0;
    padding: 0;
    background-color: white;
    list-style: none;
    text-align: center;
    line-height: 12px; 
}
.sorting-items li{
    float: left;
    width: 80px;
    margin-right: 4px;
}
.sorting-items a{
     display: block;
   
   font-size: 14px;
   color:#000000; 
   text-decoration: none;
}
.hotel-results {
    /*тут как правильно расставить? каждый отдельный класс через флоат?*/
}
.main-footer {
   margin-top: 50px;
    background-color: chartreuse;
}
.footer-section {
    float: left;
    width: 33.33333%;
    text-align: center;
}
.filter-range {
  position: absolute; /*тут правильно задавать положение этого фильтра через position absolute?*/
    top: 10px;
    left: 1100px;
    width: 225px;
  margin: 50px auto; 

  color: white;
  text-transform: uppercase;
    background-color: black;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


